@media only screen and (max-width:600px){
    header {
        background-position: left;
        height:auto;
    }

    header .header-content{
        flex-direction:column;
        align-items:center;
        width:90%;
    }

    header .header-content .box:first-child, header .header-content .box:last-child{
        width:100%
    }

    header .header-content .box:first-child{
        transform: none;
        margin: 50px 0 0 0;
    }

    header .header-content .box:last-child{
        margin: 80px 0 0 0;
        align-items: center;
        flex-direction: column;
    }

    header .header-content .box:last-child img{
        width: 300px;
    }

    header .header-content .box:last-child span:first-child {
        margin: 0 0 0 0;
    }

    header .header-content .box:last-child span:first-child h6{
        font-size: 18px;
    }
    
    header .header-content .box:last-child span:first-child h4{
        font-size: 18px;
    }

    main .section-container{
        width: 95%;
    }

    main .section-container .in-section-2 h4{
        font-size: 25px;
    }
    
    main .section-container .in-section-2 h6{
        font-size: 13px;
    }

    main .section-1 .boxes{
        flex-direction: column;
        align-items: center;
    }

    main .section-1 .boxes .box{
        width: 80%;
    }

    main .section-4 h4{
        font-size: 28px;
    }
    
    main .section-4 span{
        font-size: 23px;
    }

    main .section-4 form{
        width: 90%;
    }

    main .section-4 form input{
        width: 100%;
    }
    
    main .section-4 form textarea{
        width: 100%;
    }

    footer{
        font-size: 15px;
    }
}